<% @coaches.each do |coach|%>
  <div class="card" style="width: 18rem;">
  <%= image_tag coach.avatar, alt: 'avatar', class: "card-img-top" if coach.avatar.attached?%>
  <div class="card-body coach-card">
    <h5 class="card-title"><%= coach.username %></h5>
    
    <p class="card-text">test
    </p>
    <%= link_to "Voir le profil", coach_path(coach), class: "btn btn-success"%>
  </div>
</div>
<% end %>